PizzaPasta/.vs/PizzaPasta/v14/.suo
PizzaPasta/PizzaPasta/bin/PizzaPasta.dll
PizzaPasta/PizzaPasta/bin/PizzaPasta.pdb
PizzaPasta/PizzaPasta/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PizzaPasta/PizzaPasta/obj/Debug/PizzaPasta.dll
PizzaPasta/PizzaPasta/obj/Debug/PizzaPasta.pdb
/PizzaPasta/.vs/PizzaPasta/v15/.suo
/PizzaPasta/PizzaPasta/bin/PizzaPasta.dll
/PizzaPasta/PizzaPasta/bin/PizzaPasta.pdb
/PizzaPasta/PizzaPasta/obj/Debug/PizzaPasta.dll
/PizzaPasta/PizzaPasta/obj/Debug/PizzaPasta.pdb
/PizzaPasta/.vs/PizzaPasta/v15/.suo
/PizzaPasta/PizzaPasta/bin/PizzaPasta.dll
/PizzaPasta/PizzaPasta/bin/PizzaPasta.pdb
/PizzaPasta/PizzaPasta/obj/Debug/PizzaPasta.csproj.FileListAbsolute.txt
/PizzaPasta/PizzaPasta/obj/Debug/PizzaPasta.csprojResolveAssemblyReference.cache
/PizzaPasta/PizzaPasta/obj/Debug/PizzaPasta.dll
/PizzaPasta/PizzaPasta/obj/Debug/PizzaPasta.pdb
/PizzaPasta/PizzaPasta/bin/PizzaPasta.dll
/PizzaPasta/PizzaPasta/bin/PizzaPasta.pdb
/PizzaPasta/PizzaPasta/obj/Debug/PizzaPasta.csproj.FileListAbsolute.txt
/PizzaPasta/PizzaPasta/obj/Debug/PizzaPasta.dll
/PizzaPasta/PizzaPasta/obj/Debug/PizzaPasta.pdb
/PizzaPasta/PizzaPasta/bin/PizzaPasta.dll
/PizzaPasta/PizzaPasta/bin/PizzaPasta.pdb
/PizzaPasta/PizzaPasta/obj/Debug/PizzaPasta.csproj.FileListAbsolute.txt
/PizzaPasta/PizzaPasta/obj/Debug/PizzaPasta.dll
/PizzaPasta/PizzaPasta/obj/Debug/PizzaPasta.pdb
PizzaPasta/.vs/PizzaPasta/v14/.suo
PizzaPasta/PizzaPasta/bin/PizzaPasta.dll
PizzaPasta/PizzaPasta/bin/PizzaPasta.pdb
PizzaPasta/PizzaPasta/obj/Debug/PizzaPasta.csproj.FileListAbsolute.txt
PizzaPasta/PizzaPasta/obj/Debug/PizzaPasta.dll
PizzaPasta/PizzaPasta/obj/Debug/PizzaPasta.pdb
PizzaPasta/.vs/PizzaPasta/v14/.suo
PizzaPasta/PizzaPasta/bin/PizzaPasta.dll
PizzaPasta/PizzaPasta/bin/PizzaPasta.pdb
PizzaPasta/PizzaPasta/obj/Debug/PizzaPasta.csproj.FileListAbsolute.txt
PizzaPasta/PizzaPasta/obj/Debug/PizzaPasta.dll
PizzaPasta/PizzaPasta/obj/Debug/PizzaPasta.pdb
