    body {
        background-image: url('../Images/artsfon.com-39798.jpg');
        
    }
    
table {
        font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
}

th, td {
          border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.button {
    color: grey !important;
    border: black !important;
    color: white !important;
    padding: 15px 32px;
    text-align: center;
}


[class*='btn-'] {
	border: none;
	border-bottom: 2px solid rgba(0,0,0,.15);
	border-top: 1px solid rgba(255,255,255,.15);
	border-radius: 3px;
	color: #fff;
	display: inline-block;
	font: -webkit-small-control;
	font-size: .7em;
	letter-spacing: 1px;
	line-height: 140%;
	padding: 10px 20px;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
	text-transform: uppercase;
	
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	  transition: all 0.1s linear;

}
	.btn-minimal {
		background-color: rgb(255,255,255);
		border-radius: 0;
		border: 1px solid rgb( 186, 186, 186 );
		color: rgb( 186, 186, 186 );
		text-shadow: 0 1px 1px rgba(255, 255, 255, 1);
	}
	
		.btn-minimal:hover {
			background-color: #4195fc;
			border: 1px solid rgba(0,0,0,.1);
			color: rgb(255,255,255);
			cursor: pointer;
			text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
		}
		
		.btn-minimal:active {
			box-shadow: 0 1px 1px rgba(0,0,0,0.15) inset;
			text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
		}

                .pizzaCrust {
            position: absolute;
            width: 350px;
            height: 350px;
            top: 50px;
            left: 10px;
            z-index: 1;
        }

            .ExtraCheese {
            position: absolute;
            width: 150px;
            height: 100px;
            top: 100px;
            left: 150px;
            z-index: 2;
        }
             .pepperoni {
            position: absolute;
            width: 150px;
            height: 100px;
            top: 200px;
            left: 200px;
            z-index: 2;
        }
             .mushroom {
            position: absolute;
            width: 150px;
            height: 100px;
            top: 250px;
            left: 150px;
            z-index: 2;
        }
             .broccoli {
            position: absolute;
            width: 150px;
            height: 100px;
            top: 175px;
            left: 65px;
            z-index: 2;
        }

             .cheesebread {
            position: absolute;
            width: 200px;
            height:250px;
            top: 450px;
            left: 10px;
            z-index: 1;
        }
.White {
    color: white;
}
 
.pizzaBackground {
    background-image: url('../Images/artsfon.com-39798.jpg');
              }
.buttonPizza {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    top: auto;
}

.buttonPasta {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: auto;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

